<div style="text-align: center" id="custom-substack-embed"></div>


<script>
  window.CustomSubstackWidget = {
    substackUrl: "privseclaw@substack.com",
    placeholder: "example@yourmail.com",
    buttonText: "Subscribe Now!",
    theme: "custom",
    colors: {
      primary: "#0FA4AF",
      input: "#3E3E3E",
      email: "#15CAD8",
      text: "#3E3E3E",
    },

    // Go to substackapi.com to unlock custom redirect

  };
</script>
<script src="https://substackapi.com/widget.js" async></script>